name: Docker CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build and Run Docker
        run: |
          docker build -t ci-test-image .
          docker run --rm ci-test-image
